body {
	min-height: 100%;
	margin: 0;
	background: hsl(30, 50%, 95%);
	font: 120% Baskerville, 'Palatino Linotype', Palatino, serif;
	text-align: center;
	text-shadow: 0 .1em .1em white;
}

input, select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border: 1px solid transparent;
	background: transparent;
	font: inherit;
}

input:focus,
select:focus {
	border: 1px solid silver;
	background: white;
}

input:invalid {
	background: #fdd;
}

a {
	color: hsl(320, 80%, 30%);
}

a:not(:hover) {
	text-decoration: none;
}

body > h1 {
	line-height: 1;
}

	body > h1 > code {
		font-size: 150%;
	}
	
	body > h1 > span {
		display: block;
		margin-top: -.5em;
		font-style: italic;
		font-weight: normal;
	}

code, #code {
	font-family: Consolas, Monaco, monospace;
}

#simulated, #fallback {
	display: inline-block;
	vertical-align: middle;
	margin: .5em;
	text-shadow: none;
}

#code {
	padding: 1em;
	border: 0 dotted white;
	border-width: .2em 0;
	margin: 2em 0;
	box-shadow: 0 0 0 1em hsl(30, 50%, 75%), 0 1.4em 1em -.6em black;
	background: hsl(30, 50%, 88%);
	font-size: 120%;
}

	#code > div {
		display: inline-block;
		text-align: left;
	}
	
	#code label {
		display: block;
		color: slategray;
	}
	
	#code label:after {
		content: ';';
	}

text {
	fill: white;
	font-weight: bold;
	text-anchor: middle;
}

#simulated path {
	fill: hsl(320, 80%, 30%);
}

#fallback {
	width: 400px;
	height: 300px;
	background: hsl(320, 80%, 30%);
}

	#fallback svg {
		width: 100%;
		height: 100%;
	}
	
.twitter-share-button {
	position: absolute;
	top: 10px;
	right: 10px;
}